/* Header-tyylit */

header {
    position: relative;
    background-color: #FFD9D9; /* Vaaleanpunainen header */
    padding: 20px;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    height: 350px; /* Lisää manuaalisesti korkeus tarkistaaksesi */
}

.header-container {
    flex-direction: column; /* Asetetaan otsikko ja navigointi pystysuunnassa */
    justify-content: space-between; /* Asettaa tilaa linkkien ja Kirjaudu sisään -painikkeen välille */
    align-items: center; /* Keskittää pystysuunnassa sisällön */
}

.header-logo {
    width: 530px; /* Logon leveys*/
    height: auto; /* Logon korkeus suhteessa leveyteen */
}

h3 {
    text-align: center; /* Keskittää kaikki h3-otsikot */
}

/* Päiväkodin logo */
.header-image {
    width: 100%; /* Skaalaa kuvan leveydeksi 100% */
    height: auto; /* Kuva skaalautuu suhteessa leveyteen */
    max-height: 100%; /* Varmistaa, ettei kuva veny liian korkeaksi */
    object-fit: cover; /* Varmistaa, että kuva täyttää tilan ja skaalautuu oikein */
}
