/* Header-tyylit */
header {
    margin-top: 30px;
    position: relative;
    background-color: #FFD9D9;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hampurilaisvalikon tyylit */
.ham-menu {
    position: absolute;
    bottom: 20px; /* Sijoitetaan hampurilaisvalikko alareunaan */
    left: 50%;
    transform: translateX(-50%); /* Keskittää hampurilaisvalikon */
    cursor: pointer;
    z-index: 100;
}

/* Logon tyylit */
.header-logo {
    width: 530px;
    height: auto;
    transition: transform 0.3s ease;
}

/* Responsiiviset tyylit */
@media (max-width: 768px) {
    header {
        height: auto;
        padding-bottom: 60px; /* Lisää tilaa hampurilaisvalikolle */
    }
}

@media (max-width: 480px) {
    .header-logo {
        transform: translateX(-10%); /* Siirretään logoa vasemmalle */
    }
}
